.bg-auth {
  background-image: url('../images/login-img.png') !important;
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
ul.pagination svg{
  max-width: 30px;
}
.auth-full-page-content  {
  .bg-overlay.bg-primary {
    background-color: #EAECF4 !important;
  }
}
.btn-primary {
  background-color: #183B56 !important;
  
  &:hover {
    background-color: #003566 !important;
  }
}

body[data-sidebar=colored] {
  .vertical-menu, .navbar-brand-box {
    background: #183B56;
    border-color: #003566;
  }
}
.theme-img-wrapper{
  width: 250px;
  height: 200px;
  background-color: #183b56;
  font-style: italic;
}
p.embeded_code{
  margin: 0;
  max-width: 800px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn-border {
  background-color: transparent;
  border: 1px solid #183b56 !important;
  color: #183b56 !important;

  &:hover {
    background-color: #003566 !important;
  color: white !important;
  }
}